<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Small Bucket</string>
		<key>cost</key>
		<integer>-7</integer>
		<key>remove</key>
		<true/>
	</dict>
	<dict>
		<key>description</key>
		<string>Medium Bucket</string>
		<key>cost</key>
		<integer>-9</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Large Bucket</string>
		<key>cost</key>
		<integer>-12</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Jumbo Bucket</string>
		<key>cost</key>
		<integer>-17</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>VIP Card</string>
		<key>cost</key>
		<integer>75</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Beverage 1</string>
		<key>cost</key>
		<integer>-1</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Beverage 2</string>
		<key>cost</key>
		<real>-1.75</real>
	</dict>
	<dict>
		<key>description</key>
		<string>Beverage 3</string>
		<key>cost</key>
		<real>-2.5</real>
	</dict>
	<dict>
		<key>description</key>
		<string>Candy</string>
		<key>cost</key>
		<real>-1.5</real>
	</dict>
	<dict>
		<key>description</key>
		<string>Bottle Water</string>
		<key>cost</key>
		<integer>-1</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Tees</string>
		<key>cost</key>
		<real>-0.5</real>
	</dict>
	<dict>
		<key>description</key>
		<string>Glove</string>
		<key>cost</key>
		<integer>-12</integer>
	</dict>
</array>
</plist>
